* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        nav{
            height: 100vh;
            width: 100vw;
            height: 100vh;
            width: 100vw;
            background-image: url(bens.jpg);
            background-size: cover;
            display: flex;
            justify-content: center;
        }
        .main{
            height: 620px;
            width: 450px;
            background-color: rgb(247, 180, 156);
            margin-top: 30px;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
        }
        .a1{
            margin-left: 110px;
            font-weight: bolder;
            font-size: 30px;
        }
        .a2{
            margin-left: 180px;
            margin-top: 10px;
        }
        hr{
            margin-top: 10px;
            border: 1px solid brown;
            width: 410px;
            margin-left: 20px;
        }
        h1{
            font-size: 30px;
            margin-left:165px;
            margin-top: 20px;
        }
        .a3{
            height: 30px;
            width: 35px;
            margin-left: 185px;
            margin-top: 7px;
        }
        .a4{
            margin-left: 30px;
            cursor: pointer;
        }
        .a5{
            height: 29px;
            width: 33px;
            margin-left: 195px;
            margin-top: 8px;
        }
        .a6{
            margin-top: 20px;
            margin-left: 160px;
            color: black;
            cursor: pointer;
            
        }
        .a7{
            margin-top: 10px;
            margin-left: 130px;
        }
